div.user-bg {
    width: max-content;
    margin: auto;
    padding: 2%;
}

div.user-bg img {
    display: inline-block;
    vertical-align: middle;
}

div.user-bg table {
    display: inline-block;
    vertical-align: middle;
}

div.user-bg form {
    display: block;
    margin: 1% auto;
}

div.user-bg form input {
    width: auto;
}