<!DOCTYPE html>
<style>
    .cref{
        color:black;
        text-decoration: none;
    }
</style>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css">

        <!--Adding jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!--Adding local .js files-->
        <script src="../static/main/js/cookies.js"></script>
        <script src="../static/main/js/look_.js"></script>
        <title></title>
    </head>
    <body>
        <header>
            <div style="font-size:xx-large; font-weight: bold; vertical-align: middle;">AnimeLand User</div>
            <div style="vertical-align:middle; font-weight: bold; text-align: right; margin-right: 1%;">
                <a class="cref" href="../">main</a> |
                <a class="cref" href="/logout">logout</a>
            </div>
        </header>

        <div class="user-bg">
            <img class="user-avatar" src="static/main/res/userpic.png"/>
            <table>
                <tr>
                    <td>
                        Username:
                    </td>
                    <td>
                        {{request.user}}
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        Age:
                    </td>
                    <td>
                        %user.age%
                    </td>
                </tr>
                <tr>
                    <td>
                        Date of registration
                    </td>
                    <td>
                        %user.date-of-reg%
                    </td>
                </tr>
                <tr>
                    <td>
                        Date of birth
                    </td>
                    <td>
                        %user.dob%
                    </td>
                </tr>
                <tr>
                    <td>
                        Telephone
                    </td>
                    <td>
                        %user.tel%
                    </td>
                </tr> -->
            </table>

            <!-- <form method="POST" class="">
                <input type="submit" value="Upload new avatar"/>
                <input name="newUserpic" id="newUserpic" type="file" accept="image/*" required="required"></input>
            </form> -->
        </div>

        <footer>
            <div id="switchTheme" type="button" onclick="themeSwitcher()"></button>
        </footer>
    </body>
    <script lang="javascript">
        $(window).on('load', () => {
            document.title = `%user% Profile`;
            themeOnLoad();
        });
    </script>
</html>