@import url("./general.css");
@import url("./auth.css");
@import url("./user.css");
@import url("./anime.css");
@import url("./comments.css");

body {
    color: black;
    text-decoration-color: darkseagreen;
    background-image: url(../res/bg-dark.jpg);
    background-size: 45%;
}

div.user-bg, div.anime-bg, div.comment-section-header {
    background-color: darkseagreen;
}

div.comment-section {
    background-color: lightgreen;
}

div.comment-message {
    background-color: lightcyan;
    border-top: solid 1px darkseagreen;
    border-bottom: solid 1px darkseagreen;
}

div.comment-send {
    background-color: lightcyan;
}

#switchTheme:after {
    content: "Light";
    background-color: dimgray;
    color: darkseagreen;
    border: none;
}

#tabs .tab {
    background-color: gray;
}

#tabs .active {
    border-color: #707070;
    border-bottom-color: darkseagreen;
    background-color: darkseagreen;
}

#tabs .tabContent {
    border-color: #707070;
    background-color: darkseagreen;
}